.naked-1 {
    background: $color1;
}
.naked-2 {
    background: $color2;
}
.naked-3 {
    background: $color3;
}
.naked-4 {
    background: $color4;
}
.naked-5 {
    background: $color5;
}
.submit-button {
    width: 100%;
    cursor: pointer;
}
.btn {
    display: inline-block;
    font-weight: bold;
    font-family: $font2;
    color: #919aa1;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0 solid transparent;
    padding: 0.75rem 2rem;
    font-size: 14px;
    line-height: 1.65rem;
    letter-spacing: 1.5px;
    border-radius: 0;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.btn:hover {
    color: #919aa1;
    text-decoration: none;
}
.btn:focus,
.btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.25);
}
.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}
.btn-primary {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}
.btn-primary:hover {
    color: #fff;
    background-color: #070707;
    border-color: #010000;
}
.btn-primary:focus,
.btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #010000;
    border-color: black;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}
.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: $white;
}
.loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: $color3;
    animation: loading 2s linear infinite;
}
@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
.row {
    @media only screen and (min-width: $breakpoint-desktop) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 68px;
    }
}
.column {
    @media only screen and (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: column;
    }
}