/* Header Area css
============================================================================================ */
.area-heading {
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    margin: 20px;

    h1 {
        color: $primary-color;
        font-family: $font1;
        font-size: $font-22;
        font-weight: 500;
        height: 24px;
        letter-spacing: normal;
        line-height: 1.09;
        margin-bottom: 2px;

        @media only screen and (min-width: $breakpoint-tablet) {
            font-size: $font-24;
        }
    }
    p {
        color: $secondary-color;
        font-family: $font2;
        font-size: $font-15;
        font-weight: 600;
        height: 20px;
        letter-spacing: 1px;
        line-height: normal;
        margin: 0 0 0 13px;
    }
}
