@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slider {
    @media only screen and (min-width: $breakpoint-desktop) {
        display: flex;
    }
    img {
        width: 100%;
        height: auto;
        background: $secondary-color;
    }
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        color: #333;

        @media only screen and (min-width: $breakpoint-desktop) {
            margin: 0;
            width: 87%;
        }
    }
    .react-slick * {
        min-height: 0;
        min-width: 0;
    }
    .slick-dots {
        margin-left: 0;
        bottom: 15px;
    }
    .slick-dots li button:before {
        font-size: 7px;
    }
}
