.thumbnail {
    @media only screen and (min-width: $breakpoint-desktop) {
        width: 15%;
        margin-right: 5px;
    }
    &__img {
        height: 82px;
        width: 74px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}
