.thumbnail {
    @media only screen and (min-width: $breakpoint-desktop) {
        width: 15%;
    }
    &__img {
        height: 82px;
        width: 74px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;

        @media only screen and (min-width: $breakpoint-desktop) {
            height: 15%;
            width: 87%;
        }
    }
}
